body {
    margin: 0;
}
html *
{
   font-family: Arial !important;
   font-size: 2rem;
}
p{
  font-size: 4rem;
  font-weight: bold;
}

.base-container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFE5EC 0%, #9796F0 100%) 0% 0% no-repeat padding-box;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 6px 7px #00000048;   
}
.page-container {
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    padding-left: 5rem;
}
.page-container > * {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    
    justify-content: space-between;
    border: solid 3px #00000048;
  }
  .time-container,.company-address,.company-name,.work-time-table,.kiosk-code{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    
    justify-content: left;
    border: solid 3px #00000048;
  }
  .time-container > *, .company-address > *,.company-name > * ,.kiosk-code > *{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .time-container{
    padding-bottom: 2rem;
  }
.top-bar-left{
    float: left;
}
.top-bar-right {
    display: flex;
    align-items: center;
  }



  .green-button,.red-button {
    border: none;
    border-radius: 19px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}

.green-button {
    background-color: #4CAF50;
}
.red-button {
    background-color: #ff4949;
}
  .work-time-table {
    padding-left: 2rem;
    overflow-y: auto;
    height: 60%;
  }
  .work-time-table thead th {
    position: sticky;
    top: 0px;
  }
th {
    background: #f5f5f5;
  }
table {
    width: 50%;
    border: 1px solid #ffffff81;
    border-collapse: collapse;
    overflow: hidden;
    white-space: nowrap;
}
tr:nth-child(even) {
    background-color: #fff6f98c;
}
tr:nth-child(odd) {
    background-color: #a3a3a350;
}
th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 8px 16px;
    border: 1px solid #ccc;
    font-size: 0.7em;
  }

